
# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.pytest_cache/

# Virtual Environment
venv/
.venv/

# Environment Variables
.env
.env.*

# Project Data
# 排除数据目录，防止上传个人数据库
data/
*.db
*.sqlite3
config.py

# User Import Data
to-be-imported/

# Flask
instance/
.webassets-cache

# MacOS
.DS_Store

# IDE
.idea/
.vscode/

# Logs
*.log
